@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: VT323, sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E4DCCB;
    margin: 0;
}

#main-title {
    font-size: 64px;
    margin-top: 8px;
    color: #524656;
}

#subtitle,
#slider-subtitle {
    font-size: 32px;
    color: #524656;
}

.title-container,
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#grid-container {
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    width: 640px;
    height: 640px;
    flex-direction: column;
    cursor: crosshair;
}

.child {
    width: 38px;
    height: 38px;
    display: flex;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    transition: background-color 0.2s ease-in-out;
}

.outer-div {
    display: flex;
    flex-direction: row;
}

#picked-color {
    border: none;
    outline: none;
    width: 100px;
    height: 100px;
    padding: 0;
}

#content-container,
.tool-container,
.modes-container {
    display: flex;
    
}

.modes-container {
    flex-direction: column;
    gap: 30px
}

#content-container {
    flex-direction: row;
    gap: 45px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0px;
}

.tool-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    gap: 30px;
    flex-shrink: 1;
}

input[type="color"] {
    appearance: none;
    border: 4px solid #EA7A58;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 4px solid #EA7A58;
}

input[type="color"] {
    border: 4px solid #EA7A58;
}

input[type="color"]:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}

input {
    cursor: pointer;
}

button {
    font-size: 32px;
    padding: 10px 40px;
    background-color: #E4DCCB;
    color: #EA7A58;
    border: 4px solid #EA7A58;
    cursor: pointer;
    flex-shrink: 2;
}

button:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}

.active-button {
    background-color: #EA7A58;
    transition: transform 0.1s ease-in-out;
    color: white;
}

.special-button {
    background-color: #CF4747;
    color: white;
    border: 0;
    width: 216px;
    height: 60px;
}

.slide-container {
    width: 100%;
}

.slider {
    appearance: none;
    background-color: white;
    height: 20px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 9px;
    height: 30px;
    background-color: #524656;
}

.footer {
    display: flex;
    font-size: 24px;
    color: #524656;
    justify-self: flex-end;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

#github-icon {
    width: 30px;
    align-self: center;
}